<!-- Travellers#show
Find me in app/views/travellers/show.html.erb -->

<h3><%= @traveller.first_name %>'s Profile</h3>

<h5>A few things about myself</h5>
<ul>
  <li><%= image_tag( @traveller.image, :class => "thumbnail" ) %></li>
  <li>"Who am I? <%= "#{@traveller.first_name} #{@traveller.last_name}" %></li>
  <li>"I live in <%= @traveller.city %>, <%= @traveller.country %>"</li>
  <!-- <li>"I'm kid of old, born in <%= @traveller.dob %>, so I can drink alright!"</li> -->
  <li>"Want to get in touch? You can reach me on <%= @traveller.email %>"</li>
</ul>

<h5>My favorite wine bits</h5>
<ul>
  <li>My favorite winery is <%= @traveller.fav_winery %></li>
  <li>My favorite wine region is <%= @traveller.fav_region %></li>
  <li>My favorite wine variety is <%= @traveller.fav_variety %></li>
</ul>

<!-- <h5>Some boring stuff on my profile</h5>
<ul>
  <li><%= @traveller.admin %></li>
  <li><%= @traveller.password_digest %></li>
</ul> -->
<!-- Only show these buttons if the @user vriable contains the same user as @current_user  >> otherwise others can delete others accounts -->
<% if @traveller == @current_traveller %>
<div class="controls">
  <%= link_to "Edit Traveller", edit_traveller_path( @traveller ) %> |
  <%= link_to "Delete Account", traveller_path( @traveller ), :method => :delete, :data => { :confirm => "Are you sure?" } %>
</div>
<% end %>
