<!-- <h1>Regions#index</h1>
<p>Find me in app/views/regions/index.html.erb</p> -->

<div class="row">
  <% @regions.each do |r| %>
     <div class="col s12 m3">
           <div class="card">
                <div class="card-image small">
                      <div class="materialboxed">
                        <%= cl_image_tag(r.region_img, :gravity => "auto", :crop => "fill") %>
                      </div>
                </div>
            <div class="card-action brown lighten-5">
                <%= link_to(r.name, region_path(r) ) %>
            </div>
          </div>
    </div>
  <% end %>
</div>
<%= link_to "New Region", new_region_path %>

<div id="map"></div>

<script>
   var allRegions = <%= raw @regions.all.to_json %>;
   // var region = <%= raw @region.to_json %>;
   function initMap() {

      var all_regions = {
         lat: <%= Region.last.region_lat %>,
         lng: <%= Region.last.region_long %>
      };
      var map = new google.maps.Map(document.getElementById('map'), {
         zoom: 4,
         center: uluru
      });
      var marker = new google.maps.Marker({
         position: uluru,
         map: map
      });
   }
</script>


<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5qK_UhmrYD2Dbz1LTB9xx3upiU7Bmy2s&callback=initMap">
</script>
