<!-- <h1>Regions#show</h1>
<p>Find me in app/views/regions/show.html.erb</p> -->

<div class="formtext">
  <div class="formtext-background"></div>
     <div class="row">
       <div class="col s12 m6 l4">
         <img id="region-pic"><%= cl_image_tag( @region.region_img, :class => "thumbnail") %></img>
         <br>
       </div>
       <div class="col s12 m6 l8">
         <h3><%= @region.name %></h3>
         <p> <%= @region.region_description %></p>
         <br>
       </div>
   </div>
</div>

<div class="formtext">
  <div class="formtext-background"></div>
     <div class="row">
       <div class="col s12 m4 l4">
         <br>
         <p class ="region-stats">Main varieties:</p>
         <p class= "region-output"><%= @region.region_varieties %></p>
         <br>
         <p class ="region-stats">Recent vintages:</p>
         <p class= "region-output"> <%= @region.vintages %></p>
         <br>
         <p class="region-stats"><%= @region.name %> wineries:</hp>
           <% @region.wineries.each do |w| %>
           <p class="wineriesinregion">
             <%= link_to( w.name, winery_path(w) ) %>
           </p>
           <% end %>
        <br>
         <p class ="region-stats">Location:</p>
         <p class= "region-output"><%= @region.location %></p>
         <br>
         <div class="controls">
           <%= link_to "Edit Region", edit_region_path( @region ) %> |
           <%= link_to "Delete Region", region_path( @region ), :method => :delete, :data => { :confirm => "Are you sure?" } %>
         </div>
      </div>

    <div class="col s12 m8 l8">
      <div id="map-container">
        <div id="map-canvas" ></div>
      </div>

        <script>
        var region = <%= raw @region.to_json %>;

        function initMap() {

           var region_map = {
              lat: region["region_lat"],
              lng: region["region_long"]
           };
           var map = new google.maps.Map(document.getElementById('map-canvas'), {
              zoom: 7,
              center: region_map
           });

           var marker = new google.maps.Marker({
              position: region_map,
              map: map,
             // //  icon: iconBase + 'parking_lot_maps.png'
             // icon: iconBase + 'images/icon.jpg'
           });
         // asetting parameters for custom marker:
           function createImage(url){
             var image = {
               url: url,
               // This marker is 32 pixels wide by 32 pixels tall.
               size: new google.maps.Size(32, 32),
               // The origin for this image is 0,0.
               origin: new google.maps.Point(0,0),
               // The anchor for this image is the base of the flagpole at 0,32.
               anchor: new google.maps.Point(0, 32)
             };
             return image;
             }
           // creating a custom marker
           function createCustomMarker(position,map){
               marker = new google.maps.Marker({
               position: region_map,
               map: map,
               icon: createImage("/assets/images/icon.png")
           });
         }

           function createInfoWindow(text){
             var infowindow = new google.maps.InfoWindow({
               content: text
             });
             return infowindow;
           }

         // add infowindow when clicking on the simple marker marker
         var info = createInfoWindow("<%= @region.name %>");
         google.maps.event.addListener(marker, 'click', function() {
           info.open(map,marker);
         });


         var mapOptions = {
             center: new google.maps.LatLng(lat, long),
             zoom: 8,
             mapTypeId: google.maps.MapTypeId.NORMAL,
             panControl: true,
             zoomControlOptions: {
               style: google.maps.ZoomControlStyle.SMALL,
               position: google.maps.ControlPosition.LEFT_CENTER
             },
             mapTypeControlOptions: {
               style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
               mapTypeIds: [google.maps.MapTypeId.ROADMAP, "map_style"]
             },
             scaleControl: false,
             streetViewControl: true,
             overviewMapControl: true
           };
        //
        //  var region_wineries = <%= raw @region.wineries.to_json %>;
         //
        //  function initMap() {
         //
        //     // var region_map = {
        //     //    lat: region["region_lat"],
        //     //    lng: region["region_long"]
        //     // };
        //     var region_map = {
        //        lat: -33,
        //        lng: 151
        //     };
         //
        //     var map = new google.maps.Map(document.getElementById('map-region'), {
        //        zoom: 7,
        //        center: region_map
        //     });

          //   setMarkers(map);
          //   var wineries = [
          //   <% @region.wineries.each do |w| %>
          //     [ w.name, w.winery_lat, w.winery_long],
          //   <% end %>
          //   ];
          //   <% @region.wineries.each do |w| %>
          //     var winery
          //   var winery = new google.maps.Marker({
          //      position: winery_map,
          //      map: map,
          // <% end %>
          //
          // function setMarkers(map) {
          //
          // // asetting parameters for custom marker:
          //   function createImage(url){
          //     var image = {
          //       url: url,
          //       // This marker is 32 pixels wide by 32 pixels tall.
          //       size: new google.maps.Size(32, 32),
          //       // The origin for this image is 0,0.
          //       origin: new google.maps.Point(0,0),
          //       // The anchor for this image is the base of the flagpole at 0,32.
          //       anchor: new google.maps.Point(0, 32)
          //     };
          //     return image;
          //     }
          //
          //
          //   // creating a custom marker
          //
          //
          //
          //   function createCustomMarker(position,map){
          //       marker = new google.maps.Marker({
          //       position: region_map,
          //       map: map,
          //       icon: createImage("/assets/images/icon.png")
          //   });
          // }
          //
          //   function createInfoWindow(text){
          //     var infowindow = new google.maps.InfoWindow({
          //       content: text
          //     });
          //     return infowindow;
          //   }
          //
          // // add infowindow when clicking on the simple marker marker
          // var info = createInfoWindow("<%= @region.wineries.name %>");
          // google.maps.event.addListener(marker, 'click', function() {
          //   info.open(map,marker);
          // });
          //
          //
          // var mapOptions = {
          //     center: new google.maps.LatLng(lat, long),
          //     zoom: 8,
          //     mapTypeId: google.maps.MapTypeId.NORMAL,
          //     panControl: true,
          //     zoomControlOptions: {
          //       style: google.maps.ZoomControlStyle.SMALL,
          //       position: google.maps.ControlPosition.LEFT_CENTER
          //     },
          //     mapTypeControlOptions: {
          //       style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
          //       mapTypeIds: [google.maps.MapTypeId.ROADMAP, "map_style"]
          //     },
          //     scaleControl: false,
          //     streetViewControl: true,
          //     overviewMapControl: true
          //   };
      //
      //         private GoogleMap.OnMyLocationChangeListener myLocationChangeListener = new GoogleMap.OnMyLocationChangeListener() {
      //     @Override
      //     public void onMyLocationChange(Location location) {
      //         LatLng loc = new LatLng(location.getLatitude(), location.getLongitude());
      //         mMarker = mMap.addMarker(new MarkerOptions().position(loc));
      //         if(mMap != null){
      //             mMap.animateCamera(CameraUpdateFactory.newLatLngZoom(loc, 16.0f));
      //         }
      //     }
      // };
      // mMap.setOnMyLocationChangeListener(myLocationChangeListener);

       }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5qK_UhmrYD2Dbz1LTB9xx3upiU7Bmy2s&callback=initMap">
      </script>
      <div id="driving-map">
      <div class="waves-effect waves-light btn"><i class="material-icons">navigation</i><%= link_to "    Driving Instructions", search_regions_path %></div>
      </div>
      </div>
      <!-- var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        icon: iconBase + 'parking_lot_maps.png'
      }); -->
