<!-- <h1>Regions#show</h1>
<p>Find me in app/views/regions/show.html.erb</p> -->

<h3><%= @region.name %></h3>
<div class="formtext">
  <div class="formtext-background"></div>
<ul>
  <li><%= cl_image_tag( @region.region_img, :class => "thumbnail" ) %></li>
  <li>Why you should visit this region: <%= @region.region_description %></li>
  <br>
  <li>Our our main varieties <%= @region.region_varieties %></li>
  <br>
  <li>Our recent vintages: <%= @region.vintages %></li>
  </ul>


  <h5>Wineries of <%= @region.name %></h5>

  <% @region.wineries.each do |w| %>
  <p class="wineriesinregion">
    <%= link_to( w.name, winery_path(w) ) %>
  </p>
  <% end %>

  <div class="controls">
    <%= link_to "Edit Region", edit_region_path( @region ) %> |
    <%= link_to "Delete Region", region_path( @region ), :method => :delete, :data => { :confirm => "Are you sure?" } %>
  </div>

</div>
</div>
